$color-keyboard: rgb(155, 182, 196);
$color-key: rgba(70, 68, 68, 0.849);
$color-body: rgb(50, 57, 61);
$color-keyboard-text: rgb(255, 255, 255);
$color-text: rgb(202, 211, 216);
$color-key-hover: rgba(84, 133, 133, 0.856);
$color-key-active: rgba(172, 231, 231, 0.856);
$color-shadow: rgba(41, 41, 41, 0.6);
$color-container: rgb(155, 182, 196);
$color-win: rgb(15, 45, 181);
$color-lose: rgb(255, 0, 0);
$tablet-width: 520px;
$tablet-width-sml: 450px;


.body {
    background-color: $color-container;
}